POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retail
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MATERIALIZE_HOST=localhost
MATERIALIZE_PORT=6875
MATERIALIZE_DB=materialize
MATERIALIZE_USER=materialize

CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_DB=retail

REDPANDA_BROKER=localhost:19092
